<h1 class="text-4xl text-center mb-8 font-brand-heading font-bold"><%= title %></h1>
<div class="text-right">
  <a href="<%= sell_path %>" class="whitespace-nowrap text-sm font-medium text-right text-black <%= brand_underline_classes %>">Sell us your company<span aria-hidden="true"> &rarr;</span></a>
</div>
